*{
    padding: 0 0;
    margin: 0 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    padding: 0 14vw;
    color: #0c036b;

}
button{
    cursor: pointer;
}
button:hover{
    scale: 1.2;
    /* animation-duration: 200ms; */
    transition-duration: 300ms;
}

.logo{
    color: #0c036b;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    height: 10vh;
}
.navitems{
    display: flex;
    gap: 2vw;
    color: #0c036b;
    font-size: 20px;
}
.navitems p{
    text-decoration: underline;
}
.btn_nav{
    border: 1px solid slategray;
    padding: 6px 30px;
    font-size: 20px;
    color: #0c036b;
    background-color: #ffff;
}
.colr_login{
    background-color: #0c036b;
    color: white;
    border: 0;
}
.hero_container{
    display: flex;
    justify-content: space-between;
    height: 85vh;
    /* border: 2px solid black; */
}
.hero_headding{
    font-size: 58px;
}
.hero_right_cont{
    width: 40%;
}
.hero_banner{
    height: 100%;
}
.hero_left_cont{
    width: 60%;
    padding: 10vw 0;
    color: #0c036b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero_text{
    font-size: 22px;
    margin: 30px 0;
}
.btn_start{
    border: 2px solid black;
    color: black;
    font: bold;
}

/* feature section */

.feature_headding{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
}
.sqare_card{
    border: 5px solid #0c036b;
    width: 380px;
    height: 450px;
}
.bg_aqua{
    background-color: rgb(24, 252, 229);
}
.bg_pink{
    background-color: rgb(251, 148, 165);
}

.bg_violet{
    background-color: violet;
}
.recruiter_card{
    height: 70px;
    width: 280px;
    padding: 10px ;
    border: 2px solid black;
    background-color: #ffff;
    display: flex;
    gap: 20px;
    align-items: center;
}
.profile_img_cont1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
}
.profile_img1{
    width: inherit;
}
.person_name{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.card_type1 .card1{
    position: relative;
    right: 30%;
    top: 15%;
}
.card_type1 .card2{
    position: relative;
    left: 35%;
    top: 20%;
}
.card_type1 .card3{
    position: relative;
    right: 30%;
    top: 25%;
}
.card_type1{
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    flex-wrap: wrap;
}
.card_type1_right{
    width: 50%;
    height: fit-content;
    margin: auto 0;
}
.card_type1_right .hash_tag{
    font-size: 20px;
    font: bold ;
}
.sqare_card_title{
    font-size: 28px;
    margin-bottom: 20px;
}
.sqare_card_quote{
    color: lightslategray;
}

.cand_card_margin{
    border: 2px solid black;
}
.candidate_card{
    width: 30%;
}
.candidate_card{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    justify-content: space-around;
}
.flex_cont{
    display: flex;
    gap: 15px;
}
.flex_between{
    justify-content: space-between;
}
.candidate_card2{
    padding: 10px 10px;
    background-color: #ffff;
    width: 80%;
}
.box_style{
    border: 1px solid black;
    font-size: 32px;
    padding: 10px 10px;
    background-color: rgb(211, 220, 229);
}
.card_position1{
    position: relative;
    top: 50px;
    right: 10%;
}
.text_Center{
    text-align: center;
}
.card_position2{
    position: relative;
    bottom: 50px;
    left: 60%;
}
.bg_orange{
    background-color: orange;
}
.card_position3{
    position: relative;
    top: 25%;
    left: 50%;
}
/* Big banner Section  */

.big_banner{
    text-align: center;
    background-color: lightblue;
    margin: 50px 0;
    padding: 50px 0;
}
.big_quote{
    font-size: 22px;
    margin-bottom: 50px;
}
.points_cont{
    display: flex;
    justify-content: space-around;
}
.big_title{
    text-align: center;
    font-size: 48px;
    font-weight:900;
}
.quote_margin{
    margin: 50px 0;
}

/* Last big word Section  */
.img_cont1{
    display: flex;
    justify-content: center;
}
.img_size1{
    height: 500px;
    max-width: inherit;
    position: relative;
    bottom: 50px;
}
.card_type2_right{
    width: 55%;
    text-align: start;
    margin: auto 0;
}
.card_type2_right .big_title{
    text-align: start;
}
.quote_margin2{
    margin: 30px 0;
}
.bg_lightblue{
    background-color: lightblue;
}

/*  */
/* footer section  */
/*  */
footer{
    padding: 50px 50px;
    margin: 5px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #0c036b;
}
footer a{
    color: #ffff;
}
.color_white{
    color: #ffff;
}
.copyRight_cont{
    width: 100%;
    border: 2px solid lightslategray;
    position: relative;
    bottom: -40px;
    text-align: center;
    padding: 5px 0;
    border-radius: 15px;
}
ul{
    list-style: none;
}
.List_footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ffff;
}
.footer_flex_cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list_width{
    width: 30%;
}
.title_decoration{
    font-size: 32px;
    margin: 10px 0;
}
.line_margin{
    margin: 10px 0;
}